
<form action="/register" method="post">
    <label> name </label>
    <input type="name" name="name">
    <br><br>
    <label> email </label>
    <input type="email" name="email">
    <br><br>
    <label> password </label>
    <input type="password" name="password">
    <br><br>
    <label> picture </label>
    <input type="text" name="image">
    <br><br>
    <label> bio </label><br>
    <textarea name="bio" id="" cols="30" rows="10"></textarea>
    <br><br>
    <button type="submit"> submit </button>
</form>